{% extends 'teacher/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <div>
               <center> <h4></h4></center>
            </div>
                    <form method="POST" action="#" >
                        {% csrf_token %}
                        {{form|crispy}}
                        <input  type="submit" class="btn btn-outline-dark" value="Update"/>
<!--                         <a href="{% url 'clubview'  %}" class="btn btn-outline-dark">view</a>-->
                    </form>

{% endblock %}
