{% extends 'teacher/base.html' %}

{% block content %}
  <div class="row">
    {% for i in data %}
      <div class="col-md-6">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">{{ forloop.counter }}</p>
                <h5 class="card-title">{{ i.club_name }}</h5>

                <p class="card-text"><small class="text-body-secondary">{{ i.staff_incharge }}</small></p>
                <a href="{% url 'event' i.id %}" class="btn btn-outline-dark">create event</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
