{% extends 'admintemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
            <div>
               <center> <h4>CLUB</h4></center>
            </div>
                    <form method="POST" action="#" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{club|crispy}}
                        <input  type="submit" class="btn btn-outline-dark" value="add"/>
                         <a href="{% url 'clubview'  %}" class="btn btn-outline-dark">view</a>
                    </form>


{% endblock %}